.sideMenu.vertical {
  overflow: hidden scroll;
  position: absolute;
  z-index: 99999; }
  .sideMenu.vertical .sideMenuVerticalOption {
    display: block;
    width: 100%;
    font-size: 5vw;
    pointer-events: all; }
    .sideMenu.vertical .sideMenuVerticalOption * {
      pointer-events: none; }
    .sideMenu.vertical .sideMenuVerticalOption i {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      width: 30%; }
  .sideMenu.vertical .sideMenuVerticalOptionWrapper {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%; }
    .sideMenu.vertical .sideMenuVerticalOptionWrapper .sideMenuVerticalOptionLabel {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      width: 70%;
      text-align: center; }
  .sideMenu.vertical .sideMenuVerticalLogo {
    position: fixed !important;
    top: 0  !important;
    z-index: 2  !important; }
    .sideMenu.vertical .sideMenuVerticalLogo .sideMenuVerticalOptionWrapper {
      display: block !important; }
  .sideMenu.vertical .sideMenuVerticalWrapperLogo {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%; }
    .sideMenu.vertical .sideMenuVerticalWrapperLogo img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      margin: 5%; }
  .sideMenu.vertical .sideMenuVerticalBlockScreen {
    display: none;
    position: fixed;
    height: 100%;
    right: 0; }
  .sideMenu.vertical .sideMenuMarker {
    position: fixed; }
  .sideMenu.vertical .sideMenuHamburger {
    display: inline-block;
    pointer-events: all;
    z-index: 3;
    position: fixed;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    top: 0; }
    .sideMenu.vertical .sideMenuHamburger * {
      pointer-events: none; }
    .sideMenu.vertical .sideMenuHamburger .bar1, .sideMenu.vertical .sideMenuHamburger .bar2, .sideMenu.vertical .sideMenuHamburger .bar3 {
      width: 45px;
      height: 9.5px;
      background-color: black;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 10px; }
    .sideMenu.vertical .sideMenuHamburger.change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-12px, 12px);
      transform: rotate(-45deg) translate(-12px, 12px); }
    .sideMenu.vertical .sideMenuHamburger.change .bar2 {
      opacity: 0; }
    .sideMenu.vertical .sideMenuHamburger.change .bar3 {
      -webkit-transform: rotate(45deg) translate(-10px, -10px);
      transform: rotate(45deg) translate(-10px, -9px); }
.sideMenu.horizontal {
  position: fixed;
  bottom: 0;
  z-index: 999999;
  text-align: center;
  overflow: hidden; }
  .sideMenu.horizontal .sideMenuHorizontalOptionWrapper {
    position: relative;
    top: calc(50% - 5vw); }
    .sideMenu.horizontal .sideMenuHorizontalOptionWrapper .sideMenuHorizontalOptionLabel {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  .sideMenu.horizontal .sideMenuHorizontalOption {
    pointer-events: all;
    display: inline-block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    font-size: 3vw; }
    .sideMenu.horizontal .sideMenuHorizontalOption * {
      pointer-events: none; }
    .sideMenu.horizontal .sideMenuHorizontalOption.active, .sideMenu.horizontal .sideMenuHorizontalOption.active i {
      color: black !important; }

/*# sourceMappingURL=sideMenu.css.map */
